body
{
    background-color:#2C2F33;
    /*background: linear-gradient(to right, red, blue);*/
}

.section-title
{
    color: rgb(222,122,250);
    font-family: "Roboto Condensed";
    text-align: center;
}

#name-of-mod
{
    color: rgb(200,0,250);
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: 100000;
    text-align: center;
}

#demo-gif
{
    height: 200px;
    width: 40%;
    color: white;
    border: 3px solid steelblue;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3 ~ p
{
    display: block;
    font-family: 'Source Sans Pro';
    color: rgb(200, 200, 200);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}



